*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
  }
  
.navbar{
    background-color: #224944;
    height: 64px;
    padding: 10px 0;
}
.navbar-brand img {
    height: 80px;
  }

.navbar-collapse {
    display: flex; 
    align-items: center;
  }
  
.navbar-nav {
    display: flex;
    align-items: center;
  }
  
.navbar-nav .nav-item {
    margin-right: 15px;
  }
  
  @media (max-width: 992px) {
    .navbar-collapse {
      flex-direction: column;
    }
  
  .navbar-nav {
      margin-top: 10px;
      flex-direction: column;
  }
  
    .navbar-nav .nav-item {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .navbar-nav .nav-link {
      text-align: center; 
    }
  
    .navbar-brand {
      display: block;
      position: absolute;
      left: 50%;
    }
  }
  
.video-background {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  .video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .overlay {
    height: 100%;
    padding-left: 10px;

  }
  .left-text {
    position: relative;
    color: white;
    font-size: 5.5rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: rgba(34, 73, 68, 0.5);
  }
  .leftmargin{
    margin-left: 100px;
  }
  .program-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .program-button {
    background-color: rgba(255, 255, 255,0.9);
    color: black;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    display:flex;
    align-items: center;
    border-radius: 40px;
  }
  .program-button img {
    margin-right: 10px;
  }
  .program-icon {
    display: flex;
    width: 110px;
    height: 110px;
    background: #D3AF35;
    padding: 18px;
    border-radius: 50%;
    align-items: center;
    box-sizing: border-box;
    margin-right: 10px;
}

  .program-icon>img{
    background-repeat:no-repeat;
    width: 70px;
    height: 70px;
    object-fit: contain;

  }
  .margin_programbuttons{
    padding-right: 90px;
  }
  
  .programs .card {
    border: none;
    margin-bottom: 30px;
  }
  
  h2{
    color:#912F3C;
    font-size: 37px;
    font-weight: bold;
  }
  .about-us {
    background-color: #fff;
  }
  
  .about-us h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .about-us p {
    margin-bottom: 40px;

  }
  
  .about-us .row .col-md-3 h4 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .about-us .row .col-md-3 p {
    font-size: 1rem;
    color: #fff;
  }
  .back{
    background-color: #224944;
  }
  .leadership-team {
    background-color: #fff;
  }
  
  .leadership-team h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .card{
    border: none;
    height: 30;
    position: relative;
  }
  .card-image1{
    background-color: #224944;
    border-top-left-radius: 100px;
    width: 90%;
    height: 352px;
    width: 100%;  

  }
  .card-image2{
    background-color: #D3AF35;
    border-top-left-radius: 100px; 
    width: 90%;
    height: 352px;
    width: 100%;
    z-index: 1;
  }
  .card-image3{
    background-color: #002C45;
    border-top-left-radius: 100px; 
    width: 90%;
    height: 352px;
    width: 100%;
    z-index: 1;
  }
  .card-image4{
    background-color: #912F3C;
    border-top-left-radius: 100px; 
    width: 90%;
    height: 352px;
    width: 100%;
    z-index: 1;
  }
  .card-img-top{
    position: relative;
    transform:scaleY(1.3);
   
    width: 306px;
    height: 306px;
    z-index: 99;
  }
  .leadership-team .card {
    margin-bottom: 30px;
  }
  
  .leadership-team .card-title {
    font-size: 1.25rem;
    margin-top: 10px;
  }
  
  .facilities{
    background-image: url('assets/classroom.png'); 
    background-size: cover;
    position: relative;  
  }
  .green{
    background: rgba(34, 73, 68, 0.7);
    z-index: 1;
  }
  .facilities>content{
    z-index: 2;
    }

.facility-box {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.facility-box .icon img {
    max-width: 40px;
}

.facility-box .btn {
    background-color: #912F3C;
    color: #fff;
    border: none;
}

.login-form {
    border-radius: 5px;
    background-color: gray;
}
.submit{
  background-color:#224944;
  border-radius: 10px;
  margin-right: 0px;
}
.testimonials .testimonial-box {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}
.testimonials {
  background-color: #D9D9D9;
}
.testimonial-box {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-top: 60px;
}
.testimonial-img {
  width: 110px;
  height: 110px;
  background-image: url('assets/kishwar.png');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 5px solid #f8f9fa;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  overflow: hidden;
  border: 15px solid #D9D9D9;
}
  
.school-collaboration {
    background-color: #ffffff;
  }
  
.school-collaboration h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .school-collaboration .row div {
    margin-bottom: 20px;
  }
  
  .school-collaboration img {
    max-width: 100px;
  }
  li::marker{font-size:0px;}
  .footer {
    background-color: #002C45;
  }
  
  .footer h5 {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
  
  .footer p {
    margin-bottom: 10px;
  }
  
  .footer a img {
    max-width: 150px;
    margin-bottom: 10px;
  }
  li + li {
    margin-top: 10px;
  }

  .copyright>a {
      color: rgb(255 255 255);
      text-decoration: none;
  }
  hr{
    color:solid #0000;
  }