html {
  zoom: 0.85;
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    h2{
      color:#912F3C;
      font-size: 37px;
      font-weight: bold;
    }
  }  
  
/* Navbar section */
  .navbar {
    background-color: #224944;
    height: 64px;
    padding: 10px 0;
  }
  
  .navbar-brand img {
    height: 70px;
  }
  
  @media (max-width: 992px) {
    .navbar-brand img {
      height: 60px;
    }
  }
  
  @media (max-width: 768px) {
    .navbar-brand img {
      height: 50px;
    }
    .navbar .col-4 {
      flex: 0 0 auto;
      width: auto;
    }
    .navbar .container-fluid {
      flex-wrap: nowrap;
    }
  }

/* main section */
  .video-background {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .overlay {
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .left-text {
    position: relative;
    color: white;
    font-size: 6vw;
    font-weight: 650;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: rgba(34, 73, 68, 0.5);
    padding: 1rem;
    flex: 1;
  }
  
  .leftmargin {
    margin-left: 4.5rem;
  }
  
  .enroll {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
  }
  
  .program-buttons {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
    padding: 1rem;
  }
  
  .program-button {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    margin-bottom: 0.625rem;
    padding: 0.9375rem;
    display: flex;
    align-items: center;
    border-radius: 2.5rem;
    width: 100%;
    max-width: 25rem;
  }
  
  .program-button img {
    margin-right: 0.625rem;
  }
  
  .program-icon {
    display: flex;
    width: 6.875rem;
    height: 6.875rem;
    background: #D3AF35;
    padding: 1.125rem;
    border-radius: 50%;
    align-items: center;
    box-sizing: border-box;
    margin-right: 0.625rem;
  }
  
  .program-icon > img {
    background-repeat: no-repeat;
    width: 4.375rem;
    height: 4.375rem;
    object-fit: contain;
  }
  
  .margin_programbuttons {
    padding-right: 4.375rem;
    padding-top: 0.625rem;
  }
  
  @media (max-width: 1236px) {
    .left-text {
      font-size: 6.8vw;
    }
    .program-button {
      padding: 0.75rem;
      margin-bottom: 0.5rem;
      zoom: 0.8;
    }
    .program-icon {
      width: 6.25rem;
      height: 6.25rem;
      padding: 1rem;
    }
    .program-icon > img {
      width: 3.75rem;
      height: 3.75rem;
    }
    .margin_programbuttons {
      padding-right: 3.75rem;
      padding-top: 0.5rem;
    }
  }
  
  @media (max-width: 992px) {
    .left-text {
      font-size: 7vw;
    }
    .program-button {
      padding: 0.625rem;
      margin-bottom: 0.5rem;
    }
    .program-icon {
      width: 5.75rem;
      height: 5.75rem;
      padding: 0.875rem;
    }
    .program-icon > img {
      width: 3.25rem;
      height: 3.25rem;
    }
    .margin_programbuttons {
      padding-right: 0.5rem;
      padding-top: 0.5rem;
    }
  }
  
  @media (max-width: 768px) {
    .overlay {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .left-text {
      font-size: 10vw;
      text-align: center;
      height: auto;
      flex: 1;
      width: 100%;
      padding: 2rem 0;
    }
    .leftmargin {
      margin-left: auto;
    }
    .enroll {
      width: 100%;
      padding-bottom: 1.5rem;
    }
    .program-buttons {
      display: none;
      /* width: 100%; */
    }
    .program-button {
      display: none;
      /* padding: 0.5rem;
      margin-bottom: 0.5rem;
      width: 80%; */
    }
    /* .program-icon {
      width: 5rem;
      height: 5rem;
      padding: 0.75rem;
    }
    .program-icon > img {
      width: 2.75rem;
      height: 2.75rem;
    } */
  }
  
  @media (max-width: 576px) {
    .overlay {
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
    }
    .left-text {
      font-size: 8vh;
      text-align: center;
      padding: 3rem 0;
      margin-bottom: auto;
    }
    .leftmargin {
      margin-left: auto;
    }
    .program-buttons {
      display: none;
      /* flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0.5rem; */
    }
    /* .program-icon {
      width: 4.5rem;
      height: 4.5rem;
      padding: 0.625rem;
    }
    .program-icon > img {
      width: 2.5rem;
      height: 2.5rem;
    } */
  }  



/* Vision Mission */
#vision-mission {
  max-width: 1200px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Section Titles */
.section-title {
  font-size: 2rem;
  font-weight: 700;
  color: #003366;
  margin-bottom: 20px;
  position: relative;
}

/* Section Text */
.section-text {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #4f4f4f;
}

/* Image Styles */
.vismis{
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.vismis:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Vertical Line Styles */
.vertical-line {
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 50%;
  width: 4px;
  background-color: #00aaff;
  transform: translateX(-50%);
  z-index: -1;
}

/* Vision Section */
.vision-section .vertical-line {
  right: -2px;
  left: auto;
}

/* Mission Section */
.mission-section .vertical-line {
  left: -2px;
  right: auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .text-end, .text-start {
      text-align: center;
      padding: 0;
  }

  .pe-4, .ps-4 {
      padding: 1rem 0;
  }

  .vertical-line {
      display: none;
  }

  .section-title {
      margin-top: 20px;
  }
}
/* About us Section */
  .about-us {
    background-color: #fff;
    
  }
  
  .about-us h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .about-us .visibilty{
    opacity: 1;
    transform: translate(0);
  }
  .about-us p {
    margin-bottom: 40px;
  }
  
  .about-us .d-flex .col-md-3 h4 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .about-us .d-flex .col-md-3 p {
    font-size: 1rem;
    color: #fff;
  }
  .back{
    background-color: #224944;
  }
  @keyframes appear{
    from{
      opacity: 0;
      scale: 0.5;
    }
    to{
      opacity: 1;
      scale: 1;
    }
  }
  .about-us{
    animation: appear 3s linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
  }
/* team members */
  .leadership-team {
    background-color: #fff;
  }
  
  .leadership-team h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .leadership-team>.card{
    border: none;
    height: 30;
    position: relative;
  }
  .card-image1{
    background-color: #224944;
    border-top-left-radius: 100px;
    height: 333px;
    width: 100%;  

  }
  .card-image2{
    background-color: #D3AF35;
    border-top-left-radius: 100px; 
    height: 333px;
    width: 100%;
  }
  .card-image3{
    background-color: #002C45;
    border-top-left-radius: 100px; 
    height: 333px;
    width: 100%;
  }
  .card-image4{
    background-color: #912F3C;
    border-top-left-radius: 100px; 
    height: 333px;
    width: 100%;
  }
  .mrbrat{
    position: relative;
    transform:scaleY(1.3);
   
    width: 273px;
    height: 290px;
    z-index: 99;
  }
  .leadership-team .card {
    margin-bottom: 30px;
    border: none;
  }
  
  .leadership-team .card-title {
    font-size: 1.25rem;
    margin-top: 10px;
  }
  @media (max-width: 1236px) {
    .mrbrat {
        max-width: 250px;
        max-height: 270px;
    }
    .leadership-team h2 {
        font-size: 1.8rem;
    }
    .leadership-team .card-title {
        font-size: 1.15rem;
    }
    .card-image1, .card-image2, .card-image3, .card-image4 {
        height: 288px; /* Adjust the card image height for better scaling */
    }
}


/* Facilities and form Section */
.facilities {
  background-image: url('assets/classroom.png'); 
  background-size: cover;
  position: relative;  
}

.green {
  background: rgba(34, 73, 68, 0.7);
  z-index: 1;
}

.facility-box {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.facility-box .icon img {
  max-width: 40px;
}

.facility-box .btn {
  color: #fff;
  border: none;
  font-size: 1.2rem;
}

.login-form {
  border-radius: 5px;
  background-color: gray;
}

.submit {
  background-color: #224944;
  border-radius: 10px;
  margin-right: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .row {
      flex-direction: column;
  }

  .facility-column {
      width: 100%;
  }

  .form-column {
      width: 100%;
      margin-top: 20px;
  }
  .login-form>.row{
    max-height: 10vh;
  }
}

@media (max-width: 576px) {
  .facility-box {
      padding: 10px;
  }

  .facility-box h4 {
      font-size: 1rem;
  }

  .facility-box p {
      font-size: 0.9rem;
  }

  .login-form {
      padding: 20px;
  }

  .login-form .form-group {
      padding: 10px 0;
  }

  .submit button {
      width: 100%;
  }
  .login-form>.row{
    max-height: 10vh;
  }
}


/* Testimonial Section */
.carousel-inner {
  padding: 1em;
}
.carousel-item>.card{
  height: 191px;
  border: none;
  position: relative;
}

@media screen and (min-width: 576px) {
  .carousel-inner {
    display: flex;
    width: 90%;
    margin-inline: auto;
    padding: 1em 0;
    overflow: hidden;
  }
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 2);
  }
}
@media screen and (min-width: 1024px) {
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 3);
  }
}
.carousel .card {
  margin: 0 0.5em;
  border: 0;
}

.carousel-control-prev,
.carousel-control-next {
  width: 3rem;
  height: 3rem;
  background-color: #D9D9D9;
  border-radius: 50%;
  top: 50%;
}
.testimonials .testimonial-box {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}
.testimonials {
  background-color: #D9D9D9;
}
.testimonial-box {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-top: 60px;
}
.testimonial-img {
  width: 110px;
  height: 110px;
  background-image: url('assets/kishwar.png');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 5px solid #f8f9fa;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  overflow: hidden;
  border: 15px solid #D9D9D9;
}

/* School Collaboration */
.school-collaboration {
    background-color: #ffffff;
  }

.school{
  margin: 20px;
}
  
.school-collaboration h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .school-collaboration .row div {
    margin-bottom: 20px;
  }
  
  .school-collaboration img {
    max-width: 100px;
  }
  .scrollmenu {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
  }
  
  .my {
    display: flex;
    animation: scroll-left 15s linear infinite;
  }
  
  .scrollmenu::-webkit-scrollbar {
    display:none;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    10% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  /* Footer Section */
  li::marker{font-size:0px;}
  .footer {
    background-color: #002C45;
  }
  
  .footer h5 {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
  
  .footer p {
    margin-bottom: 10px;
  }
  
  .footer a img {
    max-width: 150px;
    margin-bottom: 10px;
  }
  li + li {
    margin-top: 10px;
  }

  .copyright>a {
      color: rgb(255 255 255);
      text-decoration: none;
  }
  hr{
    color:solid #0000;
  }